:root {
    --primary-color: rgb(104, 141, 207); /* blue */
    --bg-primary: rgb(104, 141, 207); /* blue */
    --secondary-color: #6c757d; /**/
    --success-color: #28a745; /* */
    --danger-color: #c94e5a; /*  */
    --warning-color: #ffc107; /*  */
    --info-color: #17a2b8; /*  */
    --light-color: #f8f9fa; /*  */
    --dark-color: #343a40; /*  */
  }
  .bor {
    border: rgb(104, 141, 207) 1px solid;
    margin: 20px 20px 20px 20px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* --------OTP Validation------------*/
  
  .home {
    font-family: Arial, sans-serif;
    /* background-color: #f8f9fa; */
  }
  
  .sub-home {
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
  }
  .otp-input {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin: 0 5px;
  }
  
  .otp-input:focus {
    outline: none;
  }
  /* tab page style */
  
  .tab-head {
    max-width: 400px;
    margin: auto;
    text-align: center;
  }
  